.todo-item {
  background: #f4f4f4;
  padding: 10px;
  border-bottom: 1px, #ccc, dotted;

  &--completed {
    text-decoration: line-through;
  }

  &__delete-button {
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
  }
}
